@font-face {
    font-family: 'ChicagoFLF';
    src: url('~/Fonts/ChicagoFLFRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.box, .popup, .layout {
    display: flex;
    align-items: flex-start;
    font-family: ChicagoFLF;
    font-size: small;
    color: #ccc;
    user-select: none;
}

.no-mouse {
    pointer-events: none;
}

.layout {
    cursor: default;
}

.layout.hidden, .box.hidden {
    display: none;
}

.item .layout {
    cursor: pointer;
}

.box.horizontal,
.popup.horizontal,
.layout.horizontal {
    flex-direction: row;
}

.box.vertical,
.popup.vertical,
.layout.vertical {
    flex-direction: column;
}

.box.focus,
.popup.focus {
    /* dashed border somehow? */
}

.sprite {
    display: inline-block;
    image-rendering: pixelated;
}

.box, .popup {
    position: relative;
    background-color: #006;
    color: #ccc;
    padding: 10px;
    border-radius: 5px;
}

.popup {
    position: absolute;
    z-index: 2;
}

.box::before,
.popup::before {
  content: " ";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border: 3px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
}

.box.focus::after,
.popup.focus::after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px dotted #fff;
    border-radius: 5px;
    pointer-events: none;
}

.flex {
    display: flex;
}