input[type='text'],
input[type='number'],
textarea {
    font-family: ChicagoFLF;
    font-size: small;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
    color: white;
}

input:focus[type='text'],
input:focus[type='number'],
textarea:focus {
    outline: none;
}
