@import '../Colors.scss';

input[type='text'],
input[type='number'],
textarea {
    font-family: ChicagoFLF;
    font-size: small;
    border: 2px solid $border-color;
    border-radius: 5px;
    background: transparent;
    color: $text-color;

    &:focus {
        outline: none;
    }
}
